ion-col {
  min-width: 300px;
}
ion-footer {
  padding: .7rem;
  ion-button {
    height: 3rem;
  }
}
.close-button {
  ion-icon {
    font-size: 22px;
  }
}
.header-ttl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 .8rem;
  .ttl {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.pt1 {
    margin-top: 1rem;
  }
  .property {
    color: var(--ion-color-primary);
    font-size: 18px;
    font-weight: 600;
    font-family: var(--roboto-slab);
  }
  .description {
    font-size: 16px;
    text-align: right;
    padding: 5px 0;
    color: var(--ion-color-medium);
  }
  .services, .extras {
    display: flex;
    justify-content: space-between;
    .details {
      margin-right: 3rem;
    }
  }
}
.date {
  padding-right: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 195px;
}
.padding-bottom {
  padding: 35px 0;
  width: 100%;
}