.slide-content {
  height: 40vh;
  min-height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--ion-color-primary);
}
.balance-by-month {
  margin: 10px auto 25px;
  .month {
    font-size: 16px;
    font-weight: 600;
  }
  .no-payments {
    text-align: right;
  }
  .payments {
    margin-top: 1rem;
    .details {
      display: flex;
      justify-content: space-between;
    }
  }
  &.nm {
    margin: 0 !important;
  }
}
.padding-bottom {
  padding: 35px 0;
  width: 100%;
}
ion-card {
  background: white;
  &.footer {
    padding: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .super-total {
      text-align: center;
      .detail {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}