.client {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: white;
  border-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
  &.selected {
    filter: drop-shadow(0px 0px 6px #9fd4f3);
    border: 1px solid #9dccd2;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .3px;
  }
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  ion-icon {
    font-size: 25px;
  }
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: -10px;
  top: -8px;
  width: 35px;
  opacity: 0;
  height: 35px;
}