<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Agregar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="clientForm">
    <ion-radio-group formControlName="type">
      <ion-row>
        <ion-col>
          <ion-card (click)="setType('client')">
            <ion-item>
              <ion-label>Cliente</ion-label>
              <ion-radio slot="start" value="client" checked></ion-radio>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card (click)="setType('consortium')">
            <ion-item>
              <ion-label>Consorcio</ion-label>
              <ion-radio slot="start" value="consortium"></ion-radio>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-radio-group>

    <ion-radio-group formControlName="owner">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label>Propietario</ion-label>
              <ion-radio slot="start" [value]="true" checked [disabled]="type == 'consortium'"></ion-radio>
            </ion-item>
          </ion-card>
        </ion-col>
          
        <ion-col>
          <ion-card>
            <ion-item>
              <ion-label>Inquilino</ion-label>
              <ion-radio slot="start" [value]="false" [disabled]="type == 'consortium'"></ion-radio>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-radio-group>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input type="text" #name formControlName="name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Dirección</ion-label>
          <ion-input type="text" formControlName="address"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row *ngIf="type == 'client'">
      <ion-col>
        <ion-item>
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Desde</ion-label>
          <ion-datetime display-format="DD MMM, YYYY" [min]="currentYear - 5" [max]="currentYear + 5" formControlName="dateContractFrom"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Hasta</ion-label>
          <ion-datetime display-format="DD MMM, YYYY" [min]="currentYear - 5" [max]="currentYear + 5" formControlName="dateContractTo"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="type == 'client'">
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Contrato</ion-label>
          <ion-input type="text" formControlName="contractURL"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addContract()">
    <ion-fab-button size="small">
      <ion-icon name="document"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-button class="btn submit" expand="block" type="submit" [disabled]="clientForm.invalid" block (click)="addClient()">Agregar</ion-button>
</ion-footer>