<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Agregar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="selector">
    <div class="item" [ngClass]="{'selected': isClient}" (click)="changeType(true)">
      <ion-avatar>
        <img src="assets/images/person.png">
      </ion-avatar>
    </div>
    <div class="item" [ngClass]="{'selected': !isClient}" (click)="changeType(false)">
      <ion-avatar>
        <img src="assets/images/building.png">
      </ion-avatar>
    </div>
  </div>

  <app-client-form *ngIf="isClient"></app-client-form>
  
  <app-consortium-form *ngIf="!isClient"></app-consortium-form>
</ion-content>