<form [formGroup]="clientForm" (ngSubmit)="addClient()">
  <ion-row>
    <ion-col (click)="changeOwnership(true)">
      <div class="client" [ngClass]="{'selected': isOwner}">Propietario</div>
    </ion-col>

    <ion-col (click)="changeOwnership(false)">
      <div class="client" [ngClass]="{'selected': !isOwner}">Inquilino</div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="7">
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input type="text" #name formControlName="name"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="5">
      <ion-item>
        <ion-label position="stacked">Apellido</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label position="stacked">Dirección</ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Numero</ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Piso</ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Dpto</ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Consorcios</ion-label>
        <ion-select interface="alert" multiple disabled="{{!consortiums[0]}}" (ionChange)="selectConsortiums($event)">
          <ion-select-option *ngFor="let c of consortiums" value={{c.key}}>{{c.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item *ngIf="!isOwner">
        <ion-label>Propietarios</ion-label>
        <ion-select interface="alert" disabled="{{!owners[0]}}" (ionChange)="selectOwners($event)">
          <ion-select-option *ngFor="let o of owners" value={{o.key}}>{{o.name}} {{o.lastName}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!isOwner">
    <ion-col>
      <ion-item>
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Desde</ion-label>
        <ion-datetime display-format="DD MMM, YYYY" [min]="currentYear - 5" [max]="currentYear + 5"
          formControlName="dateContractFrom"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Hasta</ion-label>
        <ion-datetime display-format="DD MMM, YYYY" [min]="currentYear - 5" [max]="currentYear + 5"
          formControlName="dateContractTo"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!isOwner">
    <ion-col>
      <ion-item>
        <ion-label position="stacked">Contrato</ion-label>
        <ion-input type="text" formControlName="contractURL" readonly></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</form>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!isOwner">
  <ion-fab-button size="small">
    <div class="upload-btn-wrapper">
      <ion-icon name="document"></ion-icon>
      <input type="file" name="myfile" (change)="selectedFile($event.target.files)">
    </div>
  </ion-fab-button>
</ion-fab>

<ion-footer>
  <ion-button class="btn submit" expand="block" [disabled]="clientForm.invalid" block (click)="addClient()">Agregar</ion-button>
</ion-footer>