<form [formGroup]="clientForm" (ngSubmit)="addClient()">
  <ion-row class="client">
    <div class="prop" [ngClass]="{'selected': isOwner}" (click)="changeOwnership(true)">Propietario</div>
    <div class="inq" [ngClass]="{'selected': !isOwner}" (click)="changeOwnership(false)">Inquilino</div>
  </ion-row>

  <div class="more-info fadeIn expanded">
    <ion-row>
      <ion-col size="7">
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input type="text" #name formControlName="name"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="5">
        <ion-item>
          <ion-label position="stacked">Apellido</ion-label>
          <ion-input type="text" formControlName="lastName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Dirección</ion-label>
          <ion-input type="text" formControlName="address"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Numero</ion-label>
          <ion-input type="number" min="0" formControlName="number"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Piso</ion-label>
          <ion-input type="number" min="0" formControlName="floor"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Dpto</ion-label>
          <ion-input type="text" formControlName="apartment"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Teléfono</ion-label>
          <ion-input type="number" formControlName="cellphone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">EDET</ion-label>
          <ion-input type="number" min="0" formControlName="edet"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="stacked">GASNOR</ion-label>
          <ion-input type="number" min="0" formControlName="gasnor"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="stacked">CISI</ion-label>
          <ion-input type="number" min="0" formControlName="cisi"></ion-input>
        </ion-item>
      </ion-col>
      
      <ion-col>
        <ion-item>
          <ion-label position="stacked">DGR</ion-label>
          <ion-input type="number" min="0" formControlName="dgr"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Consorcios</ion-label>
          <ion-select interface="alert" multiple disabled="{{!consortiums[0]}}" 
            (ionChange)="selectConsortiums($event)">
            <ion-select-option *ngFor="let c of consortiums" value={{c.key}}>{{c.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>

  <ion-row [hidden]="isOwner" class="more-info fadeIn expanded">
    <ion-col>
      <ion-item>
        <ion-label>Propietarios</ion-label>
        <ion-select interface="alert" disabled="{{!owners[0]}}" 
          (ionChange)="selectOwners($event)">
          <ion-select-option *ngFor="let o of owners" value={{o.key}}>{{o.name}} {{o.lastName}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <div *ngFor="let c of selectedConsortiums; let i = index">
    <div class="more-info fadeIn expanded contracts-box" *ngIf="!isOwner && selectedConsortiums[0]">
      <ion-row class="contract-title" *ngIf="!isOwner">
        Contrato para: {{consortiumsFor[c].name | capitalize:true}}
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Desde</ion-label>
            <ion-datetime display-format="DD MMM, YYYY" [min]="currentYear - 5" [max]="currentYear + 5"
              [formControlName]="'dateContractFrom_' + i"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Hasta</ion-label>
            <ion-datetime display-format="DD MMM, YYYY" [min]="currentYear - 5" [max]="currentYear + 5"
              [formControlName]="'dateContractTo_' + i"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Archivo</ion-label>
            <ion-input type="text" [formControlName]="'contractURL_' + i" readonly></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="1">
          <div class="upload-btn-wrapper">
            <ion-icon name="document"></ion-icon>
            <input type="file" name="myfile_{{i}}" (change)="selectedFile($event.target.files, i)">
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</form>

<ion-footer>
  <ion-button class="btn submit" expand="block" [disabled]="clientForm.invalid" block (click)="addClient()">
    {{editMode ? 'Editar' : 'Agregar'}}
  </ion-button>
</ion-footer>