// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-label {
  font-size: 20px !important;
}
ion-input {
  margin-bottom: 5px;
}
ion-item {
  cursor: pointer;
}
ion-fab-button {
  ion-icon {
    color: #fff;
  }
}
ion-content {
  --background: var(--bg-color);
}
ion-footer {
  background: var(--bg-color);
}
.blue {
  --background: var(--ion-color-primary);
  background: var(--ion-color-primary);
  ion-item {
    --background: var(--ion-color-primary);
  }
  ion-icon {
    color: white;
  }
  ion-label {
    --color: white !important;
    font-weight: 600;
  }
}
.header-md {
  &::after {
    height: 0px;
  }
}
.footer-md {
  &::before {
    height: 0px;
  }
}
.searchbar-input.sc-ion-searchbar-ios {
  border-radius: 4px;
}
.consortium {
  color: var(--ion-color-secondary);
  background: var(--ion-color-light);
}
.person {
  background: var(--ion-color-light);
}
.img {
  margin: 0 .7rem;
  ion-icon {
    font-size: 25px;
    border-radius: 50%;
    font-size: 35px;
    padding: 5px;
  }
}
@media only screen and (min-height: 768px) and (min-width: 768px) {
  .sc-ion-modal-md-h {
    --width: 75%;
    --height: 90%;
  }
}