.content {
  margin: 15px;
  ion-label {
    font-size: 18px;
    font-weight: 600;
  }
  .info {
    display: flex;
    align-items: center;
    .type {
      color: var(--ion-color-primary);
    }
    .address {
      margin-left: 5px;
      color: #bfbfbf;
    }
  }
}