<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Inicio</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="showFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-searchbar color="secondary" mode="ios" debounce="300" placeholder="Buscar..." [(ngModel)]="searchText" (ionChange)="searchClient()"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let c of filteredClients">
        <ion-card (click)="openModal(c)">
          <ion-item>
            <div class="img">
              <ion-icon name="business" *ngIf="c.type == 'consortium'" class="consortium"></ion-icon>
              <ion-icon name="person" *ngIf="c.type != 'consortium'" class="person"></ion-icon>
            </div>
            <div class="content">
              <ion-label>{{c.name | capitalize}}</ion-label>
              <div class="address">{{c.address | capitalize}}</div>
            </div>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-virtual-scroll [items]="filteredClients" approxItemHeight="100px">
    <ion-item *virtualItem="let client">
      <div class="img">
        <ion-icon name="business" *ngIf="client.type == 'consortium'" class="consortium"></ion-icon>
        <ion-icon name="person" *ngIf="client.type != 'consortium'" class="person"></ion-icon>
      </div>
      <div class="content">
        <ion-label>{{client.name | capitalize}}</ion-label>
        <div>{{client.address | capitalize}}</div>
      </div>
    </ion-item>
  </ion-virtual-scroll> -->
</ion-content>
