<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Inicio</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="showFilter()" [ngClass]="{'active': activeFilter}">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-searchbar color="secondary" mode="ios" debounce="300" placeholder="Buscar..." 
    [(ngModel)]="searchText" (ionChange)="searchClient()">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-virtual-scroll [items]="filteredObjects" approxItemHeight="90px">
    <ion-item *virtualItem="let client" (click)="openDetails(client)">
      <ion-card>
        <div class="img">
          <ion-icon name="business" *ngIf="client.type == 'consortium'" class="consortium"></ion-icon>
          <ion-icon name="person" *ngIf="client.type != 'consortium'" class="person"></ion-icon>
        </div>
        <div class="content">
          <ion-label>{{client.lastName | capitalize}} {{client.name | capitalize}}</ion-label>
          <div class="info">
            <div class="type">{{client.type == 'consortium' ? 'Consorcio' : (client.isOwner ? 'Propietario' : 'Inquilino') | capitalize}} -</div>
            <div class="description">{{client.address | capitalize}} {{client.number}} {{(client.floor || '') + ((client.apartment | capitalize) || '')}}</div>
          </div>
        </div>
        <div class="ribbon ribbon-bottom-right" *ngIf="client.type == 'client' && client.class" 
          [ngClass]="(client.class)"><span>{{client.diff >= 0 ? client.diff + ' días': 'vencido'}}</span>
        </div>
      </ion-card>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
