ion-grid {
  display: flex;
}
ion-col {
  --ion-grid-column-padding: 0px;
  ion-card {
    min-width: 330px;
    .item {
      padding: 10px 0;
      background: white;
    }
  }
}
ion-avatar {
  ion-icon {
    font-size: 30px;
    margin: 5px;
  }
}
.content {
  margin: 15px;
  ion-label {
    font-size: 18px;
    font-weight: 600;
  }
  .address {
    margin-top: 5px;
    color: #bfbfbf;
  }
}