<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Inicio</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="showFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar debounce="300" placeholder="Buscar..." [(ngModel)]="searchText" (ionChange)="searchClient()"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let c of filteredClients">
        <ion-card (click)="openModal(c)">
          <ion-item>
            <div class="img">
              <ion-icon name="business" *ngIf="c.type == 'consortium'" class="consortium"></ion-icon>
              <ion-icon name="person" *ngIf="c.type != 'consortium'" class="person"></ion-icon>
            </div>
            <div class="content">
              <ion-label>{{c.name | capitalize}}</ion-label>
              <div>{{c.address | capitalize}}</div>
            </div>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
