<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title text-center *ngIf="data">
      <div class="header-ttl">
        <div class="img">
          <ion-icon name="business" *ngIf="data.type == 'consortium'" class="consortium"></ion-icon>
          <ion-icon name="person" *ngIf="data.type != 'consortium'" class="person"></ion-icon>
        </div>
        <div class="ttl">
          {{data.name | capitalize}}
        </div>
      </div>
    </ion-title>

    <ion-buttons slot="end" *ngIf="editMode">
      <ion-button (click)="ngOnInit()" class="close-button">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <!-- Personal information -->
  <ion-card *ngIf="!editMode">
    <ion-list>
      <ion-list-header>
        <ion-label>Datos personales</ion-label>
      </ion-list-header>
      <ion-item>
        <div class="info">
          <div class="property">{{'Nombre'}}</div>
          <div class="description">{{data.lastName | capitalize}} {{data.name | capitalize}}</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="info">
          <div class="property">{{'Dirección'}}</div>
          <div class="description">{{data.address | capitalize}} {{data.number}} {{(data.floor || '') + ((data.apartment | capitalize) || '')}}</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="info">
          <div class="property">{{'Tipo'}}</div>
          <div class="description">
            {{data.type == 'client' ? (data.isOwner ? 'Cliente - Propietario' : 'Cliente - Inquilino') : 'Consorcio'}}
          </div>
        </div>
      </ion-item>
      <ion-item *ngIf="data.type == 'client'">
        <div class="info">
          <div class="property">{{'Consorcio(s)'}}</div>
          <div class="description">{{data.consortiumsStr | capitalize}}</div>
        </div>
      </ion-item>
      <ion-item *ngIf="data.type == 'client' && !data.isOwner">
        <div class="info">
          <div class="property">{{'Propietario'}}</div>
          <div class="description">{{data.ownerObj.lastName | capitalize}} {{data.ownerObj.name | capitalize}}</div>
        </div>
        <ion-button fill="outline" class="button-contract" (click)="openOwnerDetails(data.ownerObj)">Ver</ion-button>
      </ion-item>
      <ion-item *ngIf="data.type == 'client' && !data.isOwner">
        <div class="info">
          <div class="property">{{'Contrato'}}</div>
          <div class="description">{{data.dateContractFrom | date:'dd/MM/yyyy'}} - {{data.dateContractTo | date:'dd/MM/yyyy'}}</div>
        </div>
        <ion-button fill="outline" class="button-contract" (click)="openContract()">Ver</ion-button>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Payment details -->
  <ion-card *ngIf="!editMode">
    <ion-list>
      <ion-list-header>
        <ion-label>Servicios</ion-label>
        <div class="date pointer">{{selectedDateStr | capitalize}}</div>
      </ion-list-header>

      <ion-item (click)="addPayment(s.name)" *ngFor="let s of services">
        <div class="info">
          <div class="property">{{s.name | capitalize}}</div>
          <div class="description">{{(data.payments && data.payments[s.name] | pesos) || 'No hay pagos realizados'}}
          </div>
        </div>
      </ion-item>

      <ion-item (click)="addPayment('extras')">
        <div class="info">
          <div class="property">Extras</div>
          <div *ngIf="data.payments && data.payments.extras">
            <div class="extras" *ngFor="let extra of data.payments.extras">
              <div class="description details">{{(extra.details | capitalize) || 'No hay detalles'}}</div>
              <div class="description">{{(extra.amount | pesos) || 'No hay pagos realizados'}}</div>
            </div>
          </div>
          <div *ngIf="!data.payments || !data.payments.extras">
            <div class="description">{{0 | pesos}}</div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="!editMode">
    <ion-item>
      <div class="info">
        <div class="property">Balance</div>
        <div class="description">{{data.balance | pesos}}</div>
      </div>
    </ion-item>
  </ion-card>

  <!-- Edit mode -->
  <ion-card *ngIf="editMode">
    <form [formGroup]="clientForm">
      <ion-radio-group formControlName="type">
        <ion-row>
          <ion-col *ngIf="type == 'client'">
            <ion-card>
              <ion-item>
                <ion-label>Particular</ion-label>
                <ion-radio slot="start" value="client" checked></ion-radio>
              </ion-item>
            </ion-card>
          </ion-col>

          <ion-col *ngIf="type == 'consortium'">
            <ion-card>
              <ion-item>
                <ion-label>Consorcio</ion-label>
                <ion-radio slot="start" value="consortium"></ion-radio>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-radio-group>

      <ion-radio-group formControlName="owner">
        <ion-row>
          <ion-col>
            <ion-card>
              <ion-item>
                <ion-label>Propietario</ion-label>
                <ion-radio slot="start" [value]="true" checked></ion-radio>
              </ion-item>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card>
              <ion-item>
                <ion-label>Inquilino</ion-label>
                <ion-radio slot="start" [value]="false"></ion-radio>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-radio-group>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input type="text" #name formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Dirección</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Desde</ion-label>
            <ion-datetime display-format="DD MMM, YYYY" [min]="currentYear - 5" [max]="currentYear + 5"
              formControlName="dateContractFrom"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Hasta</ion-label>
            <ion-datetime display-format="DD MMM, YYYY" [min]="currentYear - 5" [max]="currentYear + 5"
              formControlName="dateContractTo"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Contrato</ion-label>
            <ion-input type="text" formControlName="contractURL"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>

  <!-- Fab buttons -->
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!editMode">
    <ion-fab-button size="small">
      <ion-icon name="more"></ion-icon>
    </ion-fab-button>
  
    <ion-fab-list side="start">
      <ion-fab-button (click)="askForRemove()">
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  
    <ion-fab-list side="top">
      <ion-fab-button (click)="editMode = !editMode">
        <ion-icon name="create" color="primary"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->

  <div class="padding-bottom"></div>
</ion-content>

<ion-footer>
  <ion-card class="footer" *ngIf="!editMode">
    <ion-button fill="outline" (click)="getPreviousMonthInformation()">&lt;</ion-button>
    <ion-button fill="outline" expand="block" type="submit" (click)="openHistory()">Ver historial</ion-button>
    <ion-button fill="outline" (click)="getNextMonthInformation()">&gt;</ion-button>
  </ion-card>
  <ion-button *ngIf="editMode" expand="block" type="submit" [disabled]="clientForm.invalid" (click)="askForEdit()">
    Editar</ion-button>
</ion-footer>