ion-col {
  min-width: 300px;
}
ion-list {
  ion-list-header {
    margin-bottom: 1rem;
  }
  .item:last-child {
    --border-style: none;
  }
}
ion-card {
  background: white;
  &.footer {
    padding: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
ion-label {
  font-family: var(--tempo);
  font-weight: 600;
  text-transform: uppercase;
  color: #909090;
}
.close-button {
  ion-icon {
    font-size: 22px;
  }
}
.header-ttl {
  display: flex;
  align-items: center;
  margin: 1rem 0 .8rem;
  .ttl {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.button-contract {
  margin-left: 15px;
  width: 65px;
  min-width: 65px;
  height: 30px;
  font-size: 14px;
}
.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.pt1 {
    margin-top: 1rem;
  }
  .property {
    color: var(--ion-color-primary);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--anton);
    text-transform: uppercase;
  }
  .description {
    font-size: 16px;
    text-align: right;
    padding: 5px 0;
    color: var(--ion-color-medium);
  }
  .services, .extras {
    display: flex;
    justify-content: space-between;
    .details {
      margin-right: 3rem;
    }
  }
}
.contracts {
  display: block;
  width: 100%;
  .label {
    color: var(--ion-color-primary);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--anton);
    text-transform: uppercase;
    margin: 1rem 0 .3rem;
  }
  .contract {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 12px 0;
    font-size: 16px;
    color: var(--ion-color-medium);
  }
}
.padding-bottom {
  padding: 35px 0;
  width: 100%;
}
.date {
  padding-right: 15px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}
.pointer {
  width: 215px;
  height: 40px;
  position: relative;
  background: var(--ion-color-primary);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}
.pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid red;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.expired {
  border: 2px solid gray;
}
.danger {
  border: 2px solid red;
}
.alert {
  border: 2px solid orange;
}
.warning {
  border: 2px solid yellow;
}

.more-info {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .20s ease-in-out;
  transition: max-height .20s ease-in-out;

  &.expanded {
    max-height: 350px;
  }
}

.fadeIn {
  -webkit-animation: fadeIn ease .40s;
          animation: fadeIn ease .40s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.chevron-expanded {
	-webkit-animation: expanded 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: expanded 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes expanded {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes expanded {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.chevron-collapsed {
	-webkit-animation: collapsed 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: collapsed 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes collapsed {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes collapsed {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}