<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title text-center *ngIf="data">
      <div class="header-ttl">
        <div class="img">
          <ion-icon name="business" *ngIf="data.type == 'consortium'" class="consortium"></ion-icon>
          <ion-icon name="person" *ngIf="data.type != 'consortium'" class="person"></ion-icon>
        </div>
        <div class="ttl">
          {{data.name | capitalize}} {{ editMode ? ' - Modificar' : ''}}
        </div>
      </div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover($event)" class="close-button" *ngIf="!editMode">
        <ion-icon slot="icon-only" name="more"></ion-icon>
      </ion-button>

      <ion-button (click)="cancelEditionMode()" class="close-button" *ngIf="editMode">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <!-- Personal information -->
  <ion-card *ngIf="!editMode">
    <ion-list>
      <ion-list-header>
        <ion-label>Datos personales</ion-label>
      </ion-list-header>
      <ion-item>
        <div class="info">
          <div class="property">{{'Nombre'}}</div>
          <div class="description">{{data.lastName | capitalize}} {{data.name | capitalize}}</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="info">
          <div class="property">{{'Dirección'}}</div>
          <div class="description">{{data.address | capitalize}} {{data.number}} {{(data.floor || '') + ((data.apartment | capitalize) || '')}}</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="info">
          <div class="property">{{'Tipo'}}</div>
          <div class="description">
            {{data.type == 'client' ? (data.isOwner ? 'Cliente - Propietario' : 'Cliente - Inquilino') : 'Consorcio'}}
          </div>
        </div>
      </ion-item>
      <ion-item *ngIf="data.type == 'client'">
        <div class="info">
          <div class="property">{{'Consorcio(s)'}}</div>
          <div class="description">{{data.consortiumsStr | capitalize}}</div>
        </div>
      </ion-item>
      <ion-item *ngIf="data.type == 'client' && !data.isOwner">
        <div class="info">
          <div class="property">{{'Propietario'}}</div>
          <div class="description">{{data.ownerObj.lastName | capitalize}} {{data.ownerObj.name | capitalize}}</div>
        </div>
        <ion-button fill="outline" class="button-contract" (click)="openOwnerDetails(data.ownerObj)">Ver</ion-button>
      </ion-item>
      <ion-item *ngIf="data.type == 'client' && !data.isOwner" [ngClass]="(client.class || '')">
        <div class="info">
          <div class="property">{{'Contrato'}}</div>
          <div class="description">{{data.dateContractFrom | date:'dd/MM/yyyy'}} - {{data.dateContractTo | date:'dd/MM/yyyy'}}</div>
        </div>
        <ion-button fill="outline" class="button-contract" (click)="openContract()">Ver</ion-button>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Payment details -->
  <ion-card *ngIf="!editMode">
    <ion-list>
      <ion-list-header>
        <ion-label>Servicios</ion-label>
        <div class="date pointer">{{selectedDateStr | capitalize}}</div>
      </ion-list-header>

      <ion-item (click)="addPayment(s.name)" *ngFor="let s of services">
        <div class="info">
          <div class="property">{{s.name | capitalize}}</div>
          <div class="description">{{(data.payments && data.payments[s.name] | pesos) || 'No hay pagos realizados'}}
          </div>
        </div>
      </ion-item>

      <ion-item (click)="addPayment('extras')">
        <div class="info">
          <div class="property">Extras</div>
          <div *ngIf="data.payments && data.payments.extras">
            <div class="extras" *ngFor="let extra of data.payments.extras">
              <div class="description details">{{(extra.details | capitalize) || 'No hay detalles'}}</div>
              <div class="description">{{(extra.amount | pesos) || 'No hay pagos realizados'}}</div>
            </div>
          </div>
          <div *ngIf="!data.payments || !data.payments.extras">
            <div class="description">{{0 | pesos}}</div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="!editMode">
    <ion-item>
      <div class="info">
        <div class="property">Balance</div>
        <div class="description">{{data.balance | pesos}}</div>
      </div>
    </ion-item>
  </ion-card>

  <!-- Edit mode -->
  <div *ngIf="editMode && data.type == 'client'" padding>
    <app-client-form [editMode]="editMode" [data]="data"></app-client-form>
  </div>

  <div *ngIf="editMode && data.type == 'consortium'" padding>
    <app-consortium-form [editMode]="editMode" [data]="data"></app-consortium-form>
  </div>

  <div class="padding-bottom"></div>
</ion-content>

<ion-footer>
  <ion-card class="footer" *ngIf="!editMode">
    <ion-button fill="outline" (click)="getPreviousMonthInformation()">&lt;</ion-button>
    <ion-button fill="outline" (click)="openHistory()" expand="block" type="submit">Ver historial</ion-button>
    <ion-button fill="outline" (click)="getNextMonthInformation()">&gt;</ion-button>
  </ion-card>
</ion-footer>